.pagination {
  list-style-type: none;
  padding-left: 15px;
  margin: 0 !important;
  li {
    float: left;
    a {
      padding: 5px 5px;
      cursor: pointer;
      line-height: 30px;
    }
  }
}

.pagination-info {
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
